*{
    font-family: 'Heebo', sans-serif;
}

a:hover{
    text-shadow: 1px 1px 1px rgba(55, 63, 222, 0.383);
}

.dark:hover{
    text-shadow: 1px 1px 1px rgba(12, 12, 12, 0.903);
    cursor: pointer;
}
.light:hover{
    text-shadow: 1px 1px 1px rgba(252, 252, 252, 0.983);
    cursor: pointer;
}

.imagenService{
    width: 250px;
}
.imagenService:hover{
    box-shadow: 5px 5px 5px rgba(55, 64, 222, 0.742)
}

.servicios{
    width: 50%;
}

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 5px 5px 5px rgba(55, 63, 222, 0.225)
}

.navlink{
    font-weight: bold !important;
}

.card{
    box-shadow: 5px 5px 5px rgba(55, 64, 222, 0.742), -5px -5px 5px rgba(55, 64, 222, 0.742) ;
}

label{
    font-weight: bolder;
}

img{
    width: 400px;
}
.container {
    max-width: 900px;
}


